<!DOCTYPE HTML>
<!--
    Phantom by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <%- include('head'); %>
        <script src="https://unpkg.com/sweetalert2@7.0.6/dist/sweetalert2.all.js"></script>
    </head>
    <body>
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <%- include('header'); %>
            <!-- Main -->
            <div class="main schedule">
                <div class="inner">
                    <h1>營隊課表</h1>
                    <p style="color:red;">勘誤: 傳單上的神祕活動時間經確認有誤植的情況，請依此課表的時間為主。造成您的困擾，非常抱歉。</p>
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                                <tr>
                                    <th>時間</th>
                                    <th>7/23(一)</th>
                                    <th>7/24(二)</th>
                                    <th>7/25(三)</th>
                                    <th>7/26(四)</th>
                                    <th>7/27(五)</th>
                                    <th>7/28(六)</th>
                                    <th>7/29(日)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="place">
                                    <td>集合地點</td>
                                    <td style="font-size:85%">捷運中正紀念堂站</td>
                                    <td style="font-size:85%">捷運松江南京站</td>
                                    <td style="font-size:85%">捷運松江南京站</td>
                                    <td style="font-size:85%">捷運松江南京站</td>
                                    <td style="font-size:85%">捷運松江南京站</td>
                                    <td style="font-size:85%">捷運七張站</td>
                                    <td style="font-size:85%">捷運七張站</td>
                                </tr>
                                <tr id="early">
                                    <td>08:00~09:00</td>
                                    <td>破冰時間</td>
                                    <td>晨間早操</td>
                                    <td rowspan="5">神秘活動<br>(至<strong style="color: red;">21:30</strong>)</td>
                                    <td>晨間早操</td>
                                    <td>晨間早操</td>
                                    <td>晨間早操</td>
                                    <td>晨間早操</td>
                                </tr>
                                <tr id="morning">
                                    <td>0900~12:00</td>
                                    <td>大地遊戲</td>
                                    <td><a id="cpp">C/C++</a></td>
                                    <td><a id="mc">遊戲腳本設計</a></td>
                                    <td><a id="java">Java</a></td>
                                    <td><a id="web">Web Development</a></td>
                                    <td>成果發表</td>
                                </tr>
                                <tr id="lunch">
                                    <td>1200~14:00</td>
                                    <td>午餐時間</td>
                                    <td>午餐時間</td>
                                    <td>午餐時間</td>
                                    <td>午餐時間</td>
                                    <td>午餐時間</td>
                                    <td>午餐時間</td>
                                </tr>
                                <tr id="afternoon">
                                    <td rowspan="2">14:00~17:00</td>
                                    <td rowspan="2"><a id="Ai">Ai</a></td>
                                    <td rowspan="2">真人 RPG</td>
                                    <td rowspan="2">企業參訪</td>
                                    <td rowspan="2"><a id="processing">Processing</a></td>
                                    <td rowspan="2">神祕活動</td>
                                    <td rowspan="2">神秘晚會<br>(至<strong style="color: red;">21:30</strong>)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <%- include('footer'); %>
        </div>

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="assets/js/main.js"></script>
        <script>
        (function($){
            <% Subject.forEach(function(val, index, arr){ %>
                $("#<%= val.id %>").click(function(){
                    swal({
                    title: '<%= val.title %>',
                    text: '<%= val.text %>',
                    imageUrl: 'images/<%= val.img %>'
                    });
                });
            <% }); %>
        })(jQuery);
        </script>
        <style>
            a {
                cursor: pointer;
            }
        </style>
    </body>
</html>
